@font-face {
  font-family: 'Justice';
  src:
    url('/fonts/Justice-Regular.woff2') format('woff2'),
    url('/fonts/Justice-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Justice';
  src:
    url('/fonts/Justice-Bold.woff2') format('woff2'),
    url('/fonts/Justice-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
